# Visual Studio
.vs/
*.user
*.suo
*.sln.docstates
*.VC.db
*.VC.opendb

# Build results
Debug/
Release/
x64/
x86/
bin/
obj/
*.obj
*.o
*.lib
*.a
*.lo
*.dll
*.exe
*.app
*.out
*.i*86
*.x86_64
*.hex
*.elf
*.ilk
*.map
*.exp
*.idb
*.pdb
*.dSYM/
*.su
*.tmp
*.tmp_versions/
Module.symvers
modules.order
Mkfile.old
dkms.conf

# Precompiled Headers
*.gch
*.pch

# Shared objects / dynamic libraries
*.so
*.so.*
*.dylib

# Text / Office files
*.docx
*.d
*.dwo
